{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'userapp/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'userapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>
<body>
  <a id="show-sidebar" class="btn btn-dark" href="#" style="width:90px">
    <span>Menu</span>
    <i class="fas fa-bars fa-lg"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      
      <div class="sidebar-brand">
        
        <a href="{% url 'view_feed' %}">Stack Overflow</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span></span>
          </li>

          <li>
            <a href="{% url 'add_question' %}">
              <i class="fa fa-plus-circle"></i>
              <span>Add Question</span>
              
            </a>
          </li>
          <li>
            <a href="{% url 'view_question' %}">
              <i class="fa fa-question-circle"></i>
              <span>My Questions</span>
              
            </a>
          </li>
          <li>
            <a href="{% url 'view_feed' %}">
              <i class="fa fa-book"></i>
              <span>Question Feed</span>
              
            </a>
          </li>
          
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      
      <a href="{% url 'logout' %}">
        <i class="fa  fa-power-off"></i>
        Sign Out
      </a>
    </div>
  </nav>
  <script src="{% static 'userapp/js/sidebar.js' %}"></script>
  </body>
</html>