{% extends 'userapp/base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    {% if ques %}
    <h4 class="text-center alert alert-info">Question List</h4>
    
    
    {% if ques %}
    
    
            {% for question in ques %}
            
                <h1>Q. {{forloop.counter}} {{question.title}}</h1>
                
                {% if  question.tags.all %}
                
                {% for t in question.tags.all %}
                    <span class="badge badge-info">{{t}}</span>
                {% endfor %}
                {% else %}
                <p>No Tags added</p>

                {% endif %}

                
                <p style="font-size:20px;">Description :- {{question.body}}</p>
                <p>  Author :- {{question.author}} <p>

                
                <p>Resolved :- {{question.status}}</p>
                
                <a href="{% url 'view_answer' question.id %}" class="btn btn-success">View All Answers</a>
                <br>
                <br>
                <br>    
            
            {% endfor %}
            
    {% else %}
    <h4 class="text-center alert alert-info">No Questions added</h4>

    {% endif %}
    {% else %}
    <h4 class="text-center alert alert-info">No Questions added</h4>

    {% endif %}
</div>
</div>
{% endblock content %}