{% extends 'userapp/base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    
    <h4 class="text-center alert alert-info">Question :- {{ques.title}}</h4>
    
    <p class=""> Tags :-  
                {% if  ques.tags.all %}
                {% for t in ques.tags.all %}
                {{t}}
                {% endfor %}
                {% else %}
                No Tags added.
                {% endif %}
    </p>

    {% if ans %}

    {% for answer in ans %}
       <div class="left-align alert alert-danger">
        <p> Ans {{ forloop.counter }}. by <b>{{answer.user}}</b></p>
        <p>Answer :- {{answer.text}}</p>
        </div>
    {% endfor %}
    {% else %}
    No Answers Yet. 
    <a href="{% url 'add_answer' ques.id %}" class="btn btn-warning">Add your answer</a>
    {% endif %}
</div>
</div>
{% endblock content %}